<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin-dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnkAsOymo2dPG6n6Rrn2psusY53S2Nxm4&callback=initMap"
      async
      defer
    ></script>
  </head>
  <body>
    <nav class="admin-nav">
      <ul>
        <li><a href="/admin/manage-orders">Manage Orders</a></li>
        <li><a href="/admin/manage-brands">Manage Brands</a></li>
        <li><a href="/admin/manage-users">Manage Users</a></li>
      </ul>
    </nav>
    <main>
      <h1 id="main-title">Admin Dashboard</h1>
      <div class="chart-container">
        <div class="cityContainer">
          <h3>Orders per City</h3>
          <div id="cityOrdersChart"></div>
        </div>
        <div class="products-by-brand-container">
          <h3>Products per Brand</h3>
          <div id="productsByBrandChart"></div>
        </div>
        <div class="products-by-category-container">
          <h3>Products per Category</h3>
          <div id="productsByCategoryChart"></div>
        </div>
      </div>
      <div id="map" style="height: 500px; width: 100%"></div>
    </main>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/js/admin-dashboard.js"></script>
  </body>
</html>
